@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    color-scheme: light;

    /* === Base background & content === */
    
        /* === Button colors === */
        --color-primary: #0d4141;
        /* button bg color: mid-blue (#004E92 vibe) */
    
        --color-primary-content: #cccccc;
        /* button text color: pure white */
    
        --color-secondary: #11645d;
        /* hover bg color: brighter blue (#2E5CFF tone) */
    
        /* === Text-specific customization === */
        --color-accent: oklch(95% 0.02 260);
        /* heading color: slightly brighter white-blue */
    
        --color-paragraph: oklch(85% 0.04 260);
        /* paragraph text color: light bluish gray */

}

@plugin "daisyui/theme" {
    name: "dark";
    color-scheme: dark;

    /* === Base background & content === */
    --color-base-100: #0b0f14;
    --color-base-200: #10151d;

    /* === Button colors === */
    --color-primary: #11645d;
    --color-primary-content: #151d27;

    --color-secondary: #1a9c91;

    /* === Text colors === */
    --color-accent: #eeeeee;
    --color-paragraph: #b8b8b8;
}

.active{
    color: #11645d;
    font-weight: 700;
    border-bottom: 1px solid #11645d;
    
}