@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    color-scheme: light;

    /* === Base background & content === */
    
        /* === Button colors === */
        --color-primary: #3a347c;
        /* button bg color: mid-blue (#004E92 vibe) */
    
        --color-primary-content: oklch(98% 0.01 100);
        /* button text color: pure white */
    
        --color-secondary: #352f74;
        /* hover bg color: brighter blue (#2E5CFF tone) */
    
        /* === Text-specific customization === */
        --color-accent: oklch(95% 0.02 260);
        /* heading color: slightly brighter white-blue */
    
        --color-paragraph: oklch(85% 0.04 260);
        /* paragraph text color: light bluish gray */

}

.active{
    color: #413996;
    font-weight: 700;
}